body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(43, 43, 43);
    flex-direction: column;
    font-family: sans-serif;
}

#taskInput {
    padding: 20px 25px 20px 50px;
    font-size: 20px;
    outline: none;
    width: 60%;
    background-color: #525252;
    border: none;
    border-radius: 10px;
    color: #Fff;
}

.add {
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    position: relative;
    right: -27%;
    top: -7.5%;

}

h1 {
    font-size: 40px;
    color: #fff;
}

ul {
    list-style: none;
    width: 60%;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

li {
    width: 100%;
    color: #fff;
    background-color: #525252;
    padding: 20px 20px 20px 50px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    font-size: 30px;
    left: -2%;
}

h2 {
    color: #fff;
}

.del {
    opacity: 0;
    border-radius: 50%;
    width: 35px;
    padding: 5px;
    font-size: 15px;
    position: absolute;
    right: 1%;
    top: 25%;
    color: rgb(200, 0, 0);
    border: 2px solid rgb(200, 0, 0);
    background: transparent;
    font-size: 20px;
    transition: all 0.4s ease;
    cursor: pointer;
}

li:hover .del {
    opacity: 1;
}

.del:hover {
    color: rgb(160, 0, 0);
    border: 2px solid rgb(160, 0, 0);

}

.check {
    position: absolute;
    left: 15px;
    top: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #555;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}


.check:checked {
    background-color: #4ade80;
    border-color: #4ade80;
}

.check:checked::after {
    content: "✔";
    position: relative;
    top: -1px;
    left: 3.5px;
    font-size: 14px;
    color: white;
}

.bg-green {
    background-color: #4ade80 !important;
}


@media (max-width: 768px) {
    #taskInput {
        width: 70%;
    }

    .add {
        position:static;
    }

    li {
        left: -5%;

    }

    ul {
        width: 65%;
    }

    .del {
        right: 4%;
    }    
    li{
        font-size: 20px;
    }
}
